body
{
	background-color: #3D3C45;
	font-family: 'Lato', sans-serif;
}
#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#logo
{
	color: white;
	margin-top: 20px;
	font-size: 30px;
	letter-spacing: 3px;
	font-weight: 900;
}
#menu
{
	background-color: #2675AB;
	margin-top: 20px;
	color: white;
	padding: 10px;
	height: 40px;
	margin-bottom: 20px;
}
#add
{
	clear: both;
}
#content
{
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
  	padding-bottom: 40px;
	background-color: #DEDEDE;
	min-height: 440px;
	text-align: justify;
	font-size: 16px;
}
#footer
{
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
}
.option
{
	float: left;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right: 2px dotted white;
	opacity: 0.8;
	padding-left: 30px;
}
.option:hover
{
	background-color: #1F608C;
	cursor: pointer;
}
img
{
	width: 920px;
}
h3
{
	text-align: center;
	font-size: 30px;
	font-style: italic;
	font-weight: 900;
	letter-spacing: 3px;
}
.title
{
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 2px;
}
.dottedline
{
	height: 5px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #444444;
}
.minTitle
{
	font-size: 20px;
	font-weight: 900;
}
.rozmiar
{
	font-size: 16px;
}
.fb
{
	width: 105px;
	margin: 10px;
	height: 142px;
	background-color: #4668B3;
	float:left;
	text-align: center; 
	color: white;
}
.fb:hover
{
	background-color: #3557A2;
}
.gplus
{
	width: 105px;
	margin: 10px;
	height: 142px;
	background-color: #D95333;
	float:left;
	color: white;
}
.gplus:hover
{
	background-color: #C84222;
}
.tw
{
	width: 105px;
	margin: 10px;
	height: 142px;
	background-color: #3095D3;
	float:left;
	text-align: center;
	color: white;
}
.tw:hover
{
	background-color: #2084C2;
}
